/*
0 - 600px : Phone
600px - 900px : Tablet Portrait
900px - 1200px : Tablet Landscape
1200px - 1800px : Normal
1800px < : Big Desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 68.75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #f7f7f7;
  overflow-x: hidden; }

.container {
  max-width: 112.5rem;
  margin: auto;
  overflow: hidden; }

.container-no-max-width {
  margin: auto;
  overflow: hidden; }

.section {
  padding-right: 2rem;
  padding-left: 2rem;
  margin-bottom: 2rem; }

.section-no-bottom {
  padding-right: 2rem;
  padding-left: 2rem; }

button:focus {
  outline: none; }

input[type='email'],
input[type='submit'] {
  padding: 0.8rem;
  outline: none;
  border: none; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  color: #111111; }

p {
  font-family: 'Montserrat', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif; }

.text--dark {
  color: #111111; }

.text--light {
  color: #f7f7f7; }

.text--gray {
  color: #333333; }

.heading {
  font-family: 'Poppins', sans-serif; }
  .heading--primary {
    font-size: 4rem; }

.u-text-center {
  text-align: center; }

.u-padding-10 {
  padding: 10rem; }

.u-padding-8 {
  padding: 8rem; }

.u-padding-6 {
  padding: 6rem; }

.u-padding-4 {
  padding: 4rem; }

.u-padding-2 {
  padding: 2rem; }

.u-padding-1 {
  padding: 1rem; }

.u-padding-y-30 {
  padding-top: 30rem;
  padding-bottom: 30rem; }

.u-padding-y-26 {
  padding-top: 26rem;
  padding-bottom: 26rem; }

.u-padding-y-22 {
  padding-top: 22rem;
  padding-bottom: 22rem; }

.u-padding-y-18 {
  padding-top: 18rem;
  padding-bottom: 18rem; }

.u-padding-y-14 {
  padding-top: 14rem;
  padding-bottom: 14rem; }

.u-padding-y-10 {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.u-padding-y-8 {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.u-padding-y-6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.u-padding-y-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.u-padding-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.u-padding-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.u-padding-x-10 {
  padding-right: 10rem;
  padding-left: 10rem; }

.u-padding-x-8 {
  padding-right: 8rem;
  padding-left: 8rem; }

.u-padding-x-6 {
  padding-right: 6rem;
  padding-left: 6rem; }

.u-padding-x-4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.u-padding-x-2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.u-padding-x-1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.u-margin-top-30 {
  margin-top: 30rem; }

.u-margin-top-26 {
  margin-top: 26rem; }

.u-margin-top-22 {
  margin-top: 22rem; }

.u-margin-top-18 {
  margin-top: 18rem; }

.u-margin-top-14 {
  margin-top: 14rem; }

.u-margin-top-10 {
  margin-top: 10rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-margin-top-6 {
  margin-top: 6rem; }

.u-margin-top-4 {
  margin-top: 4rem; }

.u-margin-top-2 {
  margin-top: 2rem; }

.u-margin-top-1 {
  margin-top: 1rem; }

.u-margin-right-6 {
  margin-right: 6rem; }

.u-margin-right-5 {
  margin-right: 5rem; }

.u-margin-right-4 {
  margin-right: 4rem; }

.u-margin-right-3 {
  margin-right: 3rem; }

.u-margin-right-2 {
  margin-right: 2rem; }

.u-margin-right-1 {
  margin-right: 1rem; }

.u-margin-bottom-30 {
  margin-bottom: 30rem; }

.u-margin-bottom-26 {
  margin-bottom: 26rem; }

.u-margin-bottom-22 {
  margin-bottom: 22rem; }

.u-margin-bottom-18 {
  margin-bottom: 18rem; }

.u-margin-bottom-14 {
  margin-bottom: 14rem; }

.u-margin-bottom-10 {
  margin-bottom: 10rem; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-6 {
  margin-bottom: 6rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.u-margin-left-6 {
  margin-left: 6rem; }

.u-margin-left-5 {
  margin-left: 5rem; }

.u-margin-left-4 {
  margin-left: 4rem; }

.u-margin-left-3 {
  margin-left: 3rem; }

.u-margin-left-2 {
  margin-left: 2rem; }

.u-margin-left-1 {
  margin-left: 1rem; }

.u-padding-0 {
  padding: 0; }

.u-margin-0 {
  margin: 0; }

.u-padding-margin-0 {
  padding: 0;
  margin: 0; }

.u-var-padding-x {
  padding-right: 16rem;
  padding-left: 16rem; }
  @media (max-width: 1200px) {
    .u-var-padding-x {
      padding-right: 14rem;
      padding-left: 14rem; } }
  @media (max-width: 1100px) {
    .u-var-padding-x {
      padding-right: 12rem;
      padding-left: 12rem; } }
  @media (max-width: 1000px) {
    .u-var-padding-x {
      padding-right: 10rem;
      padding-left: 10rem; } }
  @media (max-width: 900px) {
    .u-var-padding-x {
      padding-right: 8rem;
      padding-left: 8rem; } }
  @media (max-width: 800px) {
    .u-var-padding-x {
      padding-right: 6rem;
      padding-left: 6rem; } }
  @media (max-width: 700px) {
    .u-var-padding-x {
      padding-right: 4rem;
      padding-left: 4rem; } }
  @media (max-width: 600px) {
    .u-var-padding-x {
      padding-right: 2rem;
      padding-left: 2rem; } }

.u-var-padding-right {
  padding-right: 16rem; }
  @media (max-width: 1200px) {
    .u-var-padding-right {
      padding-right: 14rem; } }
  @media (max-width: 1100px) {
    .u-var-padding-right {
      padding-right: 12rem; } }
  @media (max-width: 1000px) {
    .u-var-padding-right {
      padding-right: 10rem; } }
  @media (max-width: 900px) {
    .u-var-padding-right {
      padding-right: 8rem; } }
  @media (max-width: 800px) {
    .u-var-padding-right {
      padding-right: 6rem; } }
  @media (max-width: 700px) {
    .u-var-padding-right {
      padding-right: 4rem; } }
  @media (max-width: 600px) {
    .u-var-padding-right {
      padding-right: 2rem; } }

.u-var-padding-left {
  padding-left: 16rem; }
  @media (max-width: 1200px) {
    .u-var-padding-left {
      padding-left: 14rem; } }
  @media (max-width: 1100px) {
    .u-var-padding-left {
      padding-left: 12rem; } }
  @media (max-width: 1000px) {
    .u-var-padding-left {
      padding-left: 10rem; } }
  @media (max-width: 900px) {
    .u-var-padding-left {
      padding-left: 8rem; } }
  @media (max-width: 800px) {
    .u-var-padding-left {
      padding-left: 6rem; } }
  @media (max-width: 700px) {
    .u-var-padding-left {
      padding-left: 4rem; } }
  @media (max-width: 600px) {
    .u-var-padding-left {
      padding-left: 2rem; } }

.bg-white {
  background-color: #fff; }

.u-text-uppercase {
  text-transform: uppercase; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  .navbar__flex {
    display: flex;
    justify-content: space-between; }
  .navbar__navigation {
    padding: 2.5rem 0; }
  .navbar__navigation-list {
    display: flex; }

.btn {
  padding: 1.3rem 3.7rem;
  border-radius: 50px;
  background-color: transparent;
  color: #845bb3;
  border: 1px solid #845bb3;
  transition: all 0.5s ease;
  display: inline-block; }
  .btn:hover {
    background-color: #845bb3;
    color: #fff; }
  .btn--fixed {
    padding: 2.3rem 3.7rem;
    background-color: #845bb3;
    color: #fff; }
    .btn--fixed:hover {
      background-color: #fff;
      color: #845bb3; }

.work__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  grid-gap: 4rem;
  justify-content: center; }

.work__grid-item {
  height: 100%;
  width: 100%;
  cursor: pointer; }
  .work__grid-item:hover > .work__project-img > img {
    opacity: 0.9; }
  .work__grid-item:hover > .work__project-title {
    transform: translate(10px); }

.work__project-img {
  overflow: hidden; }
  .work__project-img img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: all 0.5s ease; }

.work__project-title {
  transition: all 0.5s ease; }

.footer {
  background-color: #111111;
  color: #f7f7f7; }
  .footer__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .footer__man {
    flex: 1; }
  .footer__liv {
    flex: 1; }
  .footer__contact {
    flex: 1; }
  .footer__newsletter {
    flex: 3; }
  .footer__logo {
    border-bottom: 1px solid #f7f7f7; }
    .footer__logo h1 {
      padding-bottom: 2rem; }
  .footer__smallprint {
    display: flex;
    justify-content: space-between; }

.showcase {
  height: 100vh; }
  .showcase__container {
    height: 100vh;
    position: relative; }
  .showcase__content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 1.3rem; }

.homepage {
  margin-bottom: 20rem; }
  .homepage__flex {
    display: flex; }
  .homepage__image {
    flex: 1;
    overflow: hidden; }
    .homepage__image img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .homepage__text {
    flex: 1; }
  .homepage__text-content {
    padding-bottom: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }

.who .btn {
  max-width: 21rem;
  text-align: center; }

.what .btn {
  max-width: 23rem;
  text-align: center; }
