.homepage {
	margin-bottom: 20rem;

	@media (max-width: 770px) {
		margin-bottom: 10rem;
	}

	&__flex {
		display: flex;

		@media (max-width: 770px) {
			flex-direction: column;
		}
	}

	&__image {
		flex: 1;
		overflow: hidden;
		order: 1;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		flex: 1;
		order: 2;

		@media (max-width: 770px) {
			padding-right: 6rem;
			padding-left: 6rem;
			margin-top: 10rem;
		}

		@media (max-width: 700px) {
			padding-right: 4rem;
			padding-left: 4rem;
		}

		@media (max-width: 600px) {
			padding-right: 2rem;
			padding-left: 2rem;
		}
	}

	&__text-content {
		padding-bottom: 1.3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
}

.who {
	.btn {
		max-width: 20rem;
		text-align: center;
	}
}

.what {
	.btn {
		max-width: 23rem;
		text-align: center;
	}
}
