.footer {
	background-color: $color-gray-dark;
	color: $color-gray-light;

	&__flex {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media (max-width: 741px) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: auto;
			grid-template-areas:
				'liv man contact'
				'newsletter newsletter newsletter';
		}

		@media (max-width: 473px) {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-template-areas:
				'liv'
				'man'
				'contact'
				'newsletter';
		}
	}

	&__man {
		flex: 1;
		grid-area: man;
	}

	&__liv {
		flex: 1;
		grid-area: liv;
	}

	&__contact {
		flex: 1;
		grid-area: contact;
	}

	&__newsletter {
		flex: 3;
		grid-area: newsletter;
	}

	&__logo {
		border-bottom: 1px solid $color-gray-light;

		h1 {
			padding-bottom: 2rem;
		}
	}

	&__smallprint {
		display: flex;
		justify-content: space-between;
	}
}
