.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	&__flex {
		display: flex;
		justify-content: space-between;
	}

	&__navigation {
		padding-top: 2.5rem;
	}

	&__navigation-list {
		display: flex;
	}
}
