.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	&__flex {
		display: flex;
		justify-content: space-between;
	}

	&__navigation {
		padding: 2.5rem 0;
	}

	&__navigation-list {
		display: flex;
	}
}
