.work {
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(20rem, 1fr));
		grid-gap: 4rem;
		justify-content: center;
	}

	&__grid-item {
		height: 100%;
		width: 100%;
		cursor: pointer;

		&:hover > .work__project-img > img {
			opacity: 0.9;
		}

		&:hover > .work__project-title {
			transform: translate(10px);
		}
	}

	&__project-img {
		overflow: hidden;

		img {
			width: 100%;
			overflow: hidden;
			object-fit: cover;
			transition: all 0.5s ease;
		}
	}

	&__project-title {
		transition: all 0.5s ease;
	}
}
