body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.6;
	letter-spacing: 0.05rem;
	color: $color-gray;
}

p {
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.text-color {
	&--dark {
		color: $color-gray-dark;
	}

	&--light {
		color: $color-gray-light;
	}

	&--gray {
		color: $color-gray;
	}
	&--primary {
		color: $color-primary;
	}
}

.text-style {
	&--nav {
		font-family: 'Poppins', sans-serif;
		font-size: 1.8rem;
		font-weight: 600;
		transition: all 0.5s ease;

		&:hover {
			color: $color-primary;
		}
	}

	&--smallprint {
		font-size: 1.2rem;
	}
}

.heading {
	font-family: 'Poppins', sans-serif;

	&--large {
		font-size: 3.3rem;
	}

	&--medium {
		font-size: 2.3rem;
	}

	&--small {
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: 600;
	}

	&--typewriter {
		font-size: 10rem;
	}
}
